name: Deploy to Play Store

on: workflow_call

jobs:

  Deploy:
    name: Deploy to Play Store

    runs-on: ubuntu-latest

    steps:

      - name: Check out repository code
        uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '19'

      - name: Download Release archive
        uses: actions/download-artifact@v3
        with:
          name: archive
          path: app/build/outputs

      - name: Upload Android Release to Play Store - Internal track
        uses: r0adkll/upload-google-play@v1.1.1
        with:
          track: internal
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
          packageName: studio.forface.shuttle
          releaseFiles: app/build/outputs/bundle/release/*.aab
#          mappingFile: app/build/outputs/mapping/release/mapping.txt # minify disabled
